section {
	padding: 40px 0;
}

.output {
	margin-top: 20px;
	opacity: 0;
	visibility: hidden;
}

.output.transition {
	transition-property: visibility, opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
}

.output.active {
	opacity: 1;
	visibility: visible;
}